<html ng-app="demo">
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    	<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/bootstrap-additions.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/libraries.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/main.min.css">
    <script src="//mgcrea.github.io/angular-strap/static/scripts/angular-strap.min.js" data-semver="v2.0.0-rc.3"></script>
    <script src="//mgcrea.github.io/angular-strap/static/scripts/angular-strap.tpl.min.js" data-semver="v2.0.0-rc.3"></script>
    
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/demo/demo.js"></script>
    </head>

    <body ng-controller="demoController" style="height: 100%;">
	<div>
		Enter position:
	</div>
	<div>
	<input style="width: 100%;" type="text" ng-model="position" ng-change="parsePosition()" id="position1" />
	</div>
	<div>
	<input style="width: 100%;" type="text" ng-hide="position == ''" ng-model="position2" ng-change="parsePosition()" id="position2" />
	</div>
        <div>
        <table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th class="col-sm-1">Pos</th>
            <th class="col-sm-2">Name</th>
            <th class="col-sm-3">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng:repeat="row in listOfFields">
            <td>
            	{{row.pos}}
	    </td>
            <td>
            	<div data-animation="am-flip-x" data-placement="bottom" data-trigger="hover" bs-popover="popover_{{row.pos}}">{{row.name}}</div></td>
            <td>
            	{{row.value}}
            </td> 
        </tr>
    </tbody>
</table>
        </div>
    </body>

</html>
